/* Header related styles */
Header{
    display:flex;
    align-items: center;
    justify-content:center;
    padding: 50px;
}
Header div {
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Banner.png);
    background-position: center;
    background-repeat:no-repeat;
    width: 1200px;
    height: 550px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400px;
  


}
.new-year{
    color: rgb(49, 222, 238);
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    line-height: 95px;
    
}
/* offer style */
.free-offer{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.holiday{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.categories{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.new-year-image{
    width: 500px;
    height: 250px;
   margin-left: 500px;
}
.join-item{
    
    
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: 1400px;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.foreground-image {
    position:absolute;
    top: 1400px;
    right: 150px;
    width: 700px;
    height: 500px;
    opacity:100% ;
}
.join-head-container{
    color: #FFF;
    font-size: 55px;
    font-weight: 400;
    line-height: 50px; 
    width: 600px;
    margin-top: 200px;
    margin-right: 200px;

    
}
.join-description{
    color: rgb(255, 255, 255);
font-size: 15px;
font-weight: 400;
line-height: 30px;
width: 500px;
margin-right: 400px;
}
.Btn-to-join{
    color: #ffffff;
    background-color: #070211;
    border-radius: 2px;
    
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-right: 700px;
}
.time-container{
    
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-size: 500px;
     width: 1000px;
    height: 400px;
    margin-left:200px ;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    line-height: 50px; 
    padding-top: 30px;
}
.Text-primary{
    color:#F00;
}
.btn-item{
        display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    border-radius: 5px;
    background: #F00;
    color: #FFF;
     text-align: center;
    font-size: 20px;
    font-weight: 500;
}
#bonusSec {
    display: flex;
    align-items: center;
    justify-content:space-between;
   /* margin: 30px 5vw;*/
    min-height: 20vw;
}

#bonusCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bonus-l {
     width: 100%; 
    margin-right: 200px;
}

#bonus-l h4 {
    font-size: 24px;
    color: #F00;
    font-weight: 500;
    white-space: nowrap;
}

#bonus-l h2 {
    font-size: 48px;
    color: #070211;
    font-weight: 980;
    white-space: nowrap;
}

#bonus-l p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    font-weight: 300;
    width: 100%;
    line-height: 25px; 
}

#bonus-m div {
    border-radius: 400px;
    border: 10px solid #F00;
    padding: 10px;
    width: 240px !important ;
    height: 240px !important ;
    margin-left: -150px;
}

#bonus-m img {
    background-position: center;
    background-size: cover;
    border-radius: 240px;
    width: 240px !important ;
    height: 240px !important ;
}

#bonus-r {
    padding-left: 5vw;
}

#bonus-r h2 {
    font-size: 48px;
    font-weight: 700;
    color: #F00;
}

#bonus-r p {
    width: 100%;
    font-size: 15px;
    font-weight: 10;
    color: #070211;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 20px; 
    

}

#bonus-r img {
    width: 140px;
    height: 140px;
}
/* hoilday item */

#holidaySec {
    max-width: 1200px;
    margin: auto;
    text-align: center;

}

#holiday-Top h4 {
    color: #212022;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;

}
#holiday-B{
    margin-top: 250px;
     
}
#holiday-B div{
   margin-top: -200px;
    
}

#holiday-Top h1 {
    color: #000000;
    font-size: 36px;
}

#holiday-Top h1 span {
    color: #ff0000;
}

#holiday-Top p {
    color: #757575;
    text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 25px;
}

#discount{
   width:200px;
   height: 200px;
   position: absolute;
   margin-left: 10px;
   margin-top: 100px;
   
}
#woman{
    border-radius: 16px 16px 0px 0px;
    background: url(Design/resources/Woman.png);
    width: 429px;
    height: 433px;
    margin-left: 550px;
    margin-top: -400px;

}
#joyImg{
margin-left: -500px ;
transform: translateY(10%);
z-index: 10;
margin-left: -550px;

}
#redImg{
opacity: 80%;
margin-right: 10vw;
margin-top: -100px;
width: 1000px;
height: 200px;
border-radius: 8px 0px 8px 8px;
object-fit: cover; 

}
/* portfolio */
#portfolio h5 {
    color: #F00;
    font-size: 20px;
    font-weight: 400;
    line-height: 0px;
    margin-left: -660px;
}
#portfolio h2 {
color: #070211;
font-size: 48px;
font-weight: 900;
line-height: 0px;
margin-left: -350px;
}
 #portfolio p {
    color: rgba(7, 2, 17, 0.60);
    line-height: 20px; 
    width: 100%;
    font-size: 15px;
    font-weight: 10;
 } 
 #img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    width: 1080px;   
  }
  
  #img img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
  }
  
  #img img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0); 
  }
  #subscribe{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
width: 1100px;
height: 550px;
margin-top: 50px;
  }
#subscribe img {
    width: 100px;
    height: 100px;
    margin-top: 100px;
}  
  #subscribe p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
  }
  #email{
    background-color: #FFF;
    width: fit-content; 
    margin-left: 400px;
    border-radius: 50px;
}

#email input{
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
}
#email button{
    border-radius: 0px 50px 50px 0px;
background: #F00;
color: #FFF;
padding: 20px;
border: none;
}

/* footer section */

footer {
    background-color: #000000;
    padding: 20px;
    position: relative;
    width: 1100px;
    height: 400px;
    margin-top: 200vw;
    margin-left: 180px;

  }
  
  .footer-container {
    max-width: 800px;
  }
  
  .address-container {
    color: #ffffff;
    display:contents;
  }
  
  .social-icons {
    display: flex;
    justify-content:center;
    gap: 5px;
    margin-top: 20px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    /* Adjust icon sizes and spacing as needed */
  }
  
  .copyright-unsubscribe {
    /* Adjust spacing and styles for copyright and unsubscribe links */
  }
  
